JWT_SECRET=
JWT_EXPIRATION=3600

ADMIN_PASSWORD=
BUZZER_01_PASSWORD=
BUZZER_02_PASSWORD=
BUZZER_03_PASSWORD=
BUZZER_04_PASSWORD=
BUZZER_05_PASSWORD=
BUZZER_06_PASSWORD=
BUZZER_07_PASSWORD=
BUZZER_08_PASSWORD=
BUZZER_09_PASSWORD=
BUZZER_10_PASSWORD=