JWT_SECRET=
JWT_EXPIRATION=3600

# BCRYPT_COST=
SEED_PASSWORD_ADMIN=
SEED_PASSWORD_BUZZER_01=
SEED_PASSWORD_BUZZER_02=
SEED_PASSWORD_BUZZER_03=
SEED_PASSWORD_BUZZER_04=
SEED_PASSWORD_BUZZER_05=
SEED_PASSWORD_BUZZER_06=
SEED_PASSWORD_BUZZER_07=
SEED_PASSWORD_BUZZER_08=
SEED_PASSWORD_BUZZER_09=
SEED_PASSWORD_BUZZER_10=